DATABASE_URL=postgresql://boussole:yourpassword@db:5432/boussolecommune
POSTGRES_PASSWORD=yourpassword
ADMIN_PASSWORD=changeme
ADMIN_USERNAME=admin
SECRET_KEY=changeme-secret-key
FLASK_ENV=production
